@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

:root {
    --main-color: rgb(222, 246, 252);
    --highlight-color: rgb(205, 161, 235);
    --shadow-color: rgba(0, 0, 0, 0.1);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Merriweather', serif;;
}

.header > h1 {
    font-size: 4rem;
    margin-bottom: -.5rem;
}

.header, .footer {
    padding: 10px;
    text-align: center;
    background-color: var(--main-color);
}

.header {
    box-shadow: 0px 10px 10px var(--shadow-color);
}

.body {
    margin: 10% 15%;
    display: grid;
    gap: 25px;
    grid-template: repeat(auto-fit, 350px) / repeat(auto-fit, minmax(350px, 1fr));
}

.card {
    border: 3px solid var(--main-color);
    border-radius: 1rem;
    border-left: 1rem solid var(--highlight-color);
    padding: 10px;
    min-height: 300px;
    min-width: 300px;
    box-shadow: -5px 10px 10px var(--shadow-color);
}

.book {
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr 3fr 3fr 3fr 1fr;
    grid-template-columns: 1fr 3fr 3fr 1fr;
}

.remove-row {
    grid-column: 1/5;
    grid-row: 1/2;
    display: flex;
    justify-content: end;
}

.title {
    grid-column: 2/4;
    grid-row: 2/3;
    align-items: center;
    text-align: center;
}

.author {
    grid-column: 2/4;
    grid-row: 3/4;
    align-items: center;
    text-align: center;
}

.pages {
    grid-column: 2/4;
    grid-row: 4/5;
    align-items: center;
    text-align: center;
}

.read-toggle {
    grid-column: 2/4;
    grid-row: 5/6;
}

.add {
    display: grid;
    gap: 10px;
    align-content: center;
    justify-items: center;
    font-size: 2rem;
    padding-top: 2rem;
}

.add > button {
    font-size: 7rem;
    background-color: var(--main-color);
    height: 150px;
    width: 150px;
    border: 1px solid var(--main-color);
    border-radius: 1rem;
    transition: 10ms;
}

.add > button:hover, .remove:hover {
    background-color: var(--highlight-color);
    border: 1px solid var(--highlight-color);
}

.remove {
    width: 25px;
    height: 25px;
    align-self: center;
    background-color: var(--main-color);
    border-radius: .25rem;
    border: 1px solid var(--main-color);
}

.footer {
    margin-top: auto;
}