@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.header, .footer {
    padding: 10px;
    text-align: center;
}